name: CI

on:
  push:
    # Build on tags that look like releases
    tags:
      - v*
    # Build when this branch is pushed to
    branches:
      - master
  pull_request:
    # Build when a pull request targets this branch
    branches:
      - master

jobs:
  ubuntu-multiple-pythons:
    name: Install and test on ${{ matrix.config.name }}
    runs-on: ${{ matrix.config.os }}
    strategy:
      matrix:
        config:
          - {
            name: "Ubuntu Latest GCC", artifact: "Linux.tar.xz",
            os: ubuntu-latest,
            build_type: "Release", cc: "gcc", cxx: "g++"
          }
          - {
            name: "macOS Latest Clang", artifact: "macOS.tar.xz",
            os: macos-latest,
            build_type: "Release", cc: "clang", cxx: "clang++"
          }
      fail-fast: false
    steps:
    - uses: actions/checkout@v3
      name: Checkout the repository
      with:
        submodules: recursive
    - name: Setup conda env
      run: conda env create -f ./cantera-build.yaml
    - name: Activate conda env
      run: conda activate cantera-build
    - name: Build Cantera
      run: scons build python3_package='full'
    - name: Test Cantera
      run: scons test
    - name: Install Cantera
      run: scons install
    - name: Deactivate env
      run: conda deactivate
